html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(5, 18, 12);
}

.investment-header {
    color: #FFF;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-inline: auto;
    margin-block: 1rem;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
    display: block;
}
img {
    max-width: 100%;
    height: auto;
}

.p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-block-start: 0.5rem;
}