html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.investment_table {
    color: #fff;
    width: 40%;
    text-align: center;
    margin-inline: auto;
    margin-block: 4rem;
}

.investment_table td {
    padding-block: 1rem;
}